{%extends 'shop/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block content%}

Designers :
<p>


   <table>
    <tr>
        <th>Name</th>
        <th>Product Code</th>
        <th>Number of pics</th>
        <th>Upload</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
        {%for i in a%}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.product_code}}</td>
        <td>{{i.nop}}</td>
        <td>{{i.uplpics}}</td>
        <td>{{i.desc}}</td>
        <td>{{i.price}}</td>
    </tr>
            {%endfor%}
</table>





    </p>





{%endblock%}
</body>
</html>