{%extends 'shop/base.html'%}
{%load static%}


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block content%}
<br/>


    <li><a href="{%url 'adminauth:designers'%}">Designers</a></li>
    <li><a href="{%url 'adminauth:manufacturers'%}">Manufacturers</a></li>

<hr/>

<ul>
    <li><a href="{%url 'adminauth:masterenroll'%}">Assign roles</a></li>
    <li><a href="{%url 'adminauth:des'%}">Create Designer</a></li>
    <li><a href="{%url 'adminauth:manu'%}">Create Manufacturer</a> </li>
    <li>Reports</li>
    <li>Defaulters</li>
    <li>Buying pattern</li>
</ul>
<hr/>




{{ceo}}<br/>
{{manu}}<br/>
{{des}}
<hr/>


{%for i in users%}
{{i.name}}<br/>

{%if i.s_status%}
{{i.role.upper}}
{%else%}
--
{%endif%}
<br/>
<br/>

{%endfor%}



{{request.user.username}}

{%endblock%}
</body>
</html>